.my-events-container {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.my-events-container h1 {
  margin-bottom: 20px;
}

/* ===== GRID ===== */
.myEventsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 25px;
}

@media (min-width: 1400px) {
  .myEventsGrid {
    grid-template-columns: 4fr;
  }
}

/* ===== Container ===== */

.my-events-container h2 {
  margin: 30px 0 15px;
}

.my-events-text {
  padding: 40px;
  text-align: center;
}

/* ===== Button ===== */

.regButtonMyEvents {
  align-self: flex-start;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: not-allowed;
  background: #2e7d32;
  opacity: 0.7;
}

.regButtonMyEvents:hover {
  background: #215c25;
  cursor: not-allowed;
}

.cancelButton {
  background: #b00020;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.cancelButton:hover {
  background: #8b0000;
}