.my-events-container {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.my-events-container h1 {
  margin-bottom: 40px;
}

/* ===== GRID ===== */
.myEventsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 25px;
}

@media (min-width: 1400px) {
  .myEventsGrid {
    grid-template-columns: 4fr;
  }
}

/* ===== Container ===== */

.my-events-container h2 {
  margin: 30px 0 15px;
}

.my-events-text {
  padding: 40px;
  text-align: center;
}
