.authenticateText {
  margin-bottom: 30px;
}

.createAccountButton {
  margin-top: 8px;
  background: linear-gradient(135deg, #b22222, #8b0000);
  border: none;
  border-radius: 12px;
  padding: 12px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: all 0.2s ease;
  align-self: center;
}

.password-hint {
  font-size: 12px;
  color: #777;
  margin-top: -20px;
  margin-bottom: 10px;
}

/*All other css elements shared with CreateEvent.css due to the nature of the form*/